@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
    outline: none;
    border: none
}

p,
li,
button,
input,
select,
label {
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #E5E5E5;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    max-width: 360px;
    height: 100%;
    margin: 0 auto;
}

.info{
    padding: 16px 16px 32px;
    background: #fff;
    border-radius: 15px;
    border-radius: 15px;
    position: relative;
    top: -68px;
    @media (max-width: 345px) {
        top: -85px;
    }
    &__title{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
        &::before{
            content: '';
            display: block;
            background: url('../img/verification-check.svg');
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
        &::after{
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50px;
            background: #10B56B;
            margin-left: 8px;
        }
    }
    &__desc{
        max-width: 330px;
        margin: 22px 0 17px;
    }
    &__icons{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px;
        &-text{
            display: flex;
            align-items: center;
            background: #F4F4F4;
            color: #848484;
            border-radius: 8px;
            padding: 6px 12px;
            margin: 0 4px;
            margin-bottom: 8px;
            &:nth-of-type(1){
                background: #2196F3;
                color: #fff;
            }
            &:nth-of-type(2){
                &::before{
                    content: '';
                    background: url('../img/icon-weight.svg');
                }
            }
            &:nth-of-type(3){
                &::before{
                    content: '';
                    background: url('../img/icon-bodytype.svg');
                }
            }
            &:nth-of-type(4){
                &::before{
                    content: '';
                    background: url('../img/icon-haircolor.svg');
                }
            }
            &:nth-of-type(5){
                margin-left: 6px;
                &::before{
                    content: '';
                    background: url('../img/icon-religion.svg');
                }
            }
            &:nth-of-type(6){
                &::before{
                    content: '';
                    background: url('../img/icon-smoke.svg');
                    width: 17px;
                    height: 18px;
                }
            }
            &:nth-of-type(7){
                margin-left: 6px;
                &::before{
                    content: '';
                    background: url('../img/icon-relationship.svg');
                }
            }
            &:nth-of-type(8){
                &::before{
                    content: '';
                    background: url('../img/icon-wine.svg');
                }
            }
            &:nth-of-type(9){
                margin-left: 6px;
                margin-bottom: 0;
                @media (max-width: 345px) {
                    margin-bottom: 8px;
                }
                &::before{
                    content: '';
                    background: url('../img/icon-child.svg');
                    width: 11px;
                }
            }
            &:nth-of-type(10){
                margin-bottom: 0;
                &::before{
                    content: '';
                    background: url('../img/icon-sexuality.svg');
                }
            }
            &::before{
                content: '';
                background: url('../img/icon-height.svg');
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }
        }
    }
    &__buttons{
        margin-top: 40px;
    }
    &__button{
        &-report{
            border: 1px solid #848484;
            border-radius: 8px;
            background: transparent;
            width: 100%;
            padding: 14px;
            color: #848484;
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover{
                color: #000;
                border: 1px solid #000;
            }
        }
        &-like{
            display: block;
            margin: 24px auto 0;
            background: #FFFFFF url(../img/icon-heart.svg) no-repeat 50%;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 56px;
            height: 56px;
            cursor: pointer;
            position:relative;
            animation: pulse 2000ms linear infinite;
            -webkit-animation: pulse 2000ms linear infinite;
            -moz-animation: pulse 2000ms linear infinite;
            &:after,
            &:before {
              display: inline-block;
              margin: auto;
              position: absolute;
              top: 0%;
                left: 0%;
              content: "";
              width: 56px;
              height: 56px;
              border-radius: 100px;
              background-color: #CD5C5C;
            }
            &:after {
                z-index: -100;
                -webkit-animation: outer-ripple 2000ms linear infinite;
                -moz-animation: outer-ripple 2000ms linear infinite;
                animation: outer-ripple 2000ms linear infinite;
              }
              &:before {
                z-index: -200;
                -webkit-animation: inner-ripple 2000ms linear infinite;
                -moz-animation: inner-ripple 2000ms linear infinite;
                animation: inner-ripple 2000ms linear infinite;
              }
        }
    }
}
@keyframes pulse{
    0% {
      transform: scale(1);
      filter: alpha(opacity=50);
      opacity: 0.5;
    }
    10% {
      transform: scale(1.3);
      filter: alpha(opacity=1);
      opacity: 1;
    }
    20% {
      transform: scale(1.1);
      filter: alpha(opacity=1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      filter: alpha(opacity=50);
      opacity: 0.5;
    }
  }
  @keyframes outer-ripple {
    0% {
      transform: scale(1);
      filter: alpha(opacity=50);
      opacity: 0.5;
    }
    80% {
      transform: scale(2);
      filter: alpha(opacity=0);
      opacity: 0;
    }
    100% {
      transform: scale(2);
      filter: alpha(opacity=0);
      opacity: 0;
    }
  }
  @keyframes inner-ripple {
    0% {
      transform: scale(1);
      filter: alpha(opacity=50);
      opacity: 0.5;
    }
    30% {
      transform: scale(1);
      filter: alpha(opacity=50);
      opacity: 0.5;
    }
    100% {
      transform: scale(2.2);
      filter: alpha(opacity=0);
      opacity: 0;
    }
  }
  
.extend{
    &__info{
        &-title{
            width: 100%;
            font-size: 20px;
            line-height: 24px;
            margin: 13px 4px 10px;
        }
        &-desc{
            margin: 15px 0 19px;
            &:nth-of-type(5),
            &:nth-of-type(6){
                .extend__info-text{
                    &::before{
                        content: '';
                        display: block;
                        background: url('../img/verification-check.svg') no-repeat 50%;
                        width: 22px;
                        height: 20px;
                        margin-right: 12px;
                        margin-top: 2px;
                    }
                }
            }
            &:nth-of-type(6){
                .extend__info-text{
                    &::before{
                        background: url('../img/icon-facebook.svg') no-repeat 50%;
                        @media (max-width: 345px) {
                            width: 24px;
                        }
                    }
                }
            }
            span{
                color: #848484;
            }
            &:nth-of-type(1){
                margin: 25px 0 15px;
            }
        }
        &-text{
            display: flex;
            font-size: 20px;
            line-height: 24px;
            margin: 4px 0 0 0;
        }
    }
}
.slider__info{
    display: none;
    position: absolute;
    bottom: 10px;
    right: 16px;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,.3) url(../img/icon-info.svg) no-repeat 50%;
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s ease-in-out;
    @media (max-width: 345px) {
        bottom: 45px;
    }
    &:hover{
        width: 20px;
        height: 20px;
        background: rgba(255,255,255,.7) url(../img/icon-info.svg) no-repeat 50%;
    }
    &-title{
        position: absolute;
        bottom: 10px;
        left: 16px;
        z-index: 1;
        color: #fff;
        display: none;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
        @media (max-width: 345px) {
            bottom: 40px;
        }
        &::before{
            content: '';
            display: block;
            background: url('../img/verification-check.svg');
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
        &::after{
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50px;
            background: #10B56B;
            margin-left: 8px;
        }
    }
}
.slider__arrow{
    position: absolute;
    top: 16px;
    left: 16px;
    width: 36px;
    height: 36px;
    background: rgba(255,255,255,.3) url(../img/arrow-left.svg) no-repeat 50%;
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s ease-in-out;
    &:hover{
        width: 40px;
        height: 40px;
        background: rgba(255,255,255,.7) url(../img/arrow-left.svg) no-repeat 50%;
    }
}
